@tailwind components;

@layer components {
  .UpdateProfile {
    @apply absolute top-20 z-20 flex w-full justify-center;
  }
  .UpdateProfileForm {
    @apply relative mb-5 flex w-auto flex-col items-center rounded-2xl bg-[#000000c5] p-2 shadow-custom-shadow;
  }

  .UpdateProfileForm .Field {
    @apply -mt-3;
  }

  .UpdateProfileForm .Button {
    @apply mt-5 h-10 border-orange-300 bg-blue-50 bg-none;
  }

  .UpdateProfileForm .Button:hover {
    @apply text-orange-500;
  }

  .UpdateProfileForm input {
    @apply h-10 border-orange-300 pl-9 text-start text-[1rem];
  }
  .UpdateProfileForm input::placeholder {
    @apply relative bottom-2 text-start text-[0.8rem] font-black;
  }
}
