@tailwind components;

@layer components {
  .InvoiceList {
    @apply flex w-[95%] flex-col items-start gap-2;
  }

  .InvoiceLink {
    @apply flex;
  }

  .Invoice {
    @apply flex cursor-pointer p-1 text-[1.1rem] font-medium;
    text-shadow: 1px 1px 5px rgba(255, 132, 0, 0.5);
  }
  .Invoice:hover {
    @apply text-orange-400;
  }
}
