.LoginForm {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.Link {
  margin-top: -1.75rem;
  font-weight: 900;
  color: #000000;
}

.Link-RegisterLogin {
  font-size: 1.25rem;
  color: #7f5003;
  text-decoration-line: underline;
}
