@tailwind components;

@layer components {
  .Header {
    @apply fixed mb-5 flex h-32 w-full flex-col justify-center gap-2 bg-custom-gradient p-1 text-center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .IconUser {
    @apply text-[5rem];
  }
  .ContainerHeader {
    @apply absolute flex w-full flex-col items-center;
  }
  .ContainerHeader .Children {
    @apply h-[3rem] text-2xl;
  }
  .Children > h1 {
    @apply text-4xl;
  }

  .IconExit {
    @apply fixed right-2 top-2 z-10 flex cursor-pointer text-7xl;
  }

  .IconLeftHeader {
    @apply absolute left-2 top-4 z-10 flex cursor-pointer text-6xl;
  }
}
